.black{
    background: url('assets/222.jpg');
    color: white;
    /* text-align: center; */
}

.container{
    background-color: transparent;
}

p{
    color: orange;
    text-align: center;
    letter-spacing: .3cm;
    font-size: 3.5rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: line-through white 2px ;
}

.cols{
    margin-top: 1rem;
}

.col1{
width: 94%;

input{
    width: 99%;
    text-align: center;
    padding: .8rem 0rem;
    border: 1px solid orange;
    border-radius: 5px;
    display: block;
    /* margin: auto; */
    background-color: transparent;
    color: white;
    

}

input:hover{
    background-color: rgba(255, 166, 0, 0.345);

}


}
.col2{
  
    width: 6%;
    
}
 .blue{
    background-color: #4e65f2;
    padding: 0.8rem 0rem;
    width: 98%;
    border-radius: 5px;

 }

 .blue:hover{
    background-color: #4e64f236;
    color: beige;

 }

 .ans{
    text-align: center;
    /* padding: 0.3rem; */
    border-radius: 5px;
 }

 .ans1{
    width: 80%;
    border: 1px solid aqua;
    border-radius: 5px;
/* padding: 0.4rem 0rem; */
font-weight: bold;
font-size: 2rem;
text-transform: uppercase;
color: #3f6d85;
 }

 .ans1:hover{
    background-color: rgba(0, 255, 255, 0.293);
 }

 .ans2  {
width: 18%;
 }

 .btn2{
    color: white;
    background-color: orange;
    width: 45%;
    border: 0px;
    border-radius: 5px;
    padding: .8rem 0rem;

    
 }
 .btn2:hover{
    border: 1px solid orange; 
    background-color: rgba(255, 166, 0, 0.26);
 }

 

 .btn3{
    background-color: #55d9ce;
    width: 45%;
    border: 0px;
    border-radius: 5px;
    padding: .8rem 0rem;

 }

 :hover.btn3{
    border: 1px solid #55d9ce;
    background-color: #55d9ce47;
 }












 /* media query */

 /* 1200px  */

 @media(max-width : 1200px){

    .col1{
        width: 92%;
    }
    .col2{
        width: 8%;
    }
    .ans1{
        width: 74%;
    }
    .ans2{
        width: 25%;
    }
    p{
        font-size: 3.3rem;
    }


 }


  /* 992px  */

  @media(max-width : 992px){

    .col1{
        width: 91%;
    }
    .col2{
        width: 9%;
    }
    .ans1{
        width: 74%;
    }
    .ans2{
        width: 25%;
    }

    p{
        font-size: 3rem;
    }


 }


   /* 768px  */

   @media(max-width : 768px){

    .col1{
        width: 89%;
    }
    .col2{
        width: 11%;
    }
    .ans1{
        width: 74%;
    }
    .ans2{
        width: 25%;
    }

    p{
        font-size: 2.8rem;
    }


 }



    /* 600px  */

    @media(max-width : 600px){

        .col1{
            width: 86%;
        }
        .col2{
            width: 14%;
        }
        .ans1{
            width: 74%;
        }
        .ans2{
            width: 25%;
        }

        p{
            font-size: 2.5rem;
        }
    
    
     }


        /* 500px  */

   @media(max-width : 500px){

    .col1{
        width: 85%;
    }
    .col2{
        width: 15%;
    }
    .ans1{
        width: 74%;
    }
    .ans2{
        width: 25%;
    }

    p{
        font-size: 2.2rem;
    }


 }